@{
	ViewData["Title"] = "Shop Games";
}

<h2>Create Games</h2>

<form method="post">
	<label for="title">Title</label>
	<input type="text" id="title" name="title" />
	<span>*</span>
	<br />

	<label for="price">Price</label>
	<input type="text" id="price" name="price" />
	<span>*</span>
	<br />

	<label for="quantity">Quantity</label>
	<input type="number" id="quantity" name="quantity" />
	<span>*</span>
	<br />

	<input type="submit" value="Add Games" />
</form>