@{
    ViewData["Title"] = "Home Page";
}


<img src="~/Images/Apox - 500.jpg" class="img-thumbnail" alt="~/Images/Apox - 500.jpg">

<div class="text-center">
    <h1 class="display-1">Welcome to Apox Gaming</h1>
</div>

<div class="text-center">
    <h1 class="display-6">Get INVOLVED</h1>
</div>

<div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
    Check out our available products here
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Xbox Games</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Arcade</td>
                <td>$5/hr</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>About Apox Gaming</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>